.tooltipster-dark {
border: 1px solid #fff;
	border-radius: 3px;
	background: #fefefe;
	box-shadow: 0px 0px 14px rgba(200,200,200,0.3);
	color: #2c2c2c;
}
.tooltipster-dark .tooltipster-content {
	font-family: "opensans-regular", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 1px;
	padding: 8px 10px;
	text-align: justify;
}

.tooltipster-dark .tooltipster-content a:hover{
color:black;
}
