

.tooltipster-light {
border: 1px solid #cccccc;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	color: #666666;
	background: #efefef;
}



.tooltipster-light .tooltipster-content {
	
	padding: 8px 10px;
	font-family: "opensans-regular", sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	text-align: justify;
}

.tooltipster-light .tooltipster-content a,.tooltipster-light .tooltipster-content a:visited{
	
	color:inherit;
	font-weight: bold;
	
}

.tooltipster-light .tooltipster-content a:hover{
	
	color: #313131;
}